/* sections footer */
section{
    /* border: 1px solid black; */
    height: 250px;
    
}
.assiette{
   
}

.progressbar{
    
}

.pourcentage{
    
}

.dimensions-assiette{
    display: block;
    width: 12em;
    margin: auto;
}

.footer-container{
    padding-top: 50px;
    background-color: rgb(147, 223, 172);
    border: 3px solid rgb(92, 165, 116);
}


